body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    padding-left: 15px;
}

.nav{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    border: 3px black dashed;
}

.nav__link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 15px;
    z-index: 0;
}

nav .animation{
    position: absolute;
    height: 3px;
    top: 0%;
    z-index: 1;
    background: #0065FC;
    width: 150px;
}



@media screen and (min-width: 768px) and (max-width: 979px){

}

@media screen and (max-width: 767px){
    
}